#footer {
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
} 

.footer_msg{
    color: #777;
}

.after-navbar{
    margin-top: 50px;
}

#home-img {
    width: 100%;
}

.marginBottom{
    margin-bottom: 50px;
}

.marginTop{
    margin-top: 100px;
}
